/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Pontano Sans', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
    background-image: url(../images/julia5.png);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#about-header {
    background-image: url(../images/mountain.jpg);
    background-position: right;
}
#services-header {
    background-image: url(../images/hands4.jpg);
}
#team-header {
    background-image: url(../images/plant.jpg);
}
#contact-header {
    background-image: url(../images/ocean3.jpg);
}
/* nav styling */
.nav {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 1;
}

.nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

.nav-links a {
	color:#fff;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
}

.nav-links a:hover {
	color: #FFBD59;
}

#title {
    font-family: 'Merriweather', serif; 
    font-size: 2rem;
    color:#fff;
	text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger > div {
    width: 25px;
    height: 2px;
    background-color: #FAF9F6;
    margin: 5px;
    transition: all 0.3s ease;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    padding: 1rem;
}

h1 {
    font-family: 'Merriweather', serif; 
    font-size: 4rem;
    margin-bottom: 2rem;
}
h2 {
    font-family: 'Merriweather', serif; 
    font-size: 2.5rem;
}

h3 { 
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
 }

p {
    font-size: 1.2rem;
    max-width: 80%;
 }
.text-box {
    max-width: 50%;
}


/* MAIN styles */


section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

section a {
    text-decoration: none;
    text-transform: uppercase;
}
.button {
    background: #3a597c;
    color:#fff;
    padding: 1.5rem 3rem;
}
.button:hover {
    background-color:  #FFBD59;
    color:#fff
}
.book {
    background: #fff;
    color:#444;
    padding: 1.5rem 3rem;
}
.book:hover {
    background-color:  #FFBD59;
    color:#fff
}
.approach {
    color: #444;
}
.services {
    background: radial-gradient(#6b97c0, #3a597c);
}
.service-cont {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}
.private {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.couples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.service-cont h3 {
    font-family: 'Merriweather, serif';
    margin: 1rem 0;
}
.service-cont img {
    max-width: 80%;
}
.service-cont p {
    padding: 0 1rem 1rem 1rem;
    font-size: 0.8rem;
}

.space {
    color:#444;
}
.quote {
    max-height: 90vh;
    justify-content: center;
    background-image: url(../images/plant3.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.quote h2 {
    padding:2rem;
}



/* ABOUT Specific styles */



.main {
    height: fit-content;
    color:#444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main p {
    font-size: 1.2rem;
}
.main h2{
    margin: 5vh 0;
}
.about {
    padding-left: 5vh;
    padding-bottom: 5vh;
}
.rates {
    display: flex;
    flex-direction: row;
    background: linear-gradient(#f5ecdc, #fff);
}
.quote h2{
    color: #fff;
}
#about-approach {
    background: #6b97c0;
    color:#fff;
}


/* TEAM specific styles */


#team-main {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    padding: 5vh;
    height:fit-content;
    margin-bottom: 10vh;
}
main img{
    border-radius: 15rem;
}
.team-qualifications {
    padding-left: 5vh;
}
.team-qualifications h2, h4{
    margin: 0 0 2rem 0;
}
/* FOOTER styles */


footer {   
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25vh;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color:#444;
}

.footer-nav-cont {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
}

footer p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.f-li {
    list-style: none;
    margin-bottom: 1rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer h3 {
    margin-bottom: 1rem;
}

.map-marker {
    height: 2rem;
    color:#444;
}

/* RESPONSIVE */

@media screen and (min-width: 1360px) {
    #header {
        height: 150vh;
    }
    #intro {
        margin-bottom: 55vh;
    }
}

@media screen and (max-width: 1060px) {

	body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background: #f5ecdc;
        display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: space-evenly;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		z-index: 2;

    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links a {
        color: #444;
    }
    .burger {
        display: block;
		z-index: 3;
    }

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

.address {
    margin-left: 1rem;
}
}
@media screen and (max-width: 768px) {
    header {
        height: 95vh;
    }
    section {
        height: 100vh;
    }
    #title {
        font-size: 1.3rem;
    }
    .nav {
        height: 15vh;
        padding: 0 1rem;
    }
    .nav-links {
        top:15vh;
        width:100%;
        height: 85vh;
    }
    .intro {
        flex-direction: column;
        margin-bottom: 0;
    }
    .text-box {
        max-width: 90%;
    }
    .text-box h1 {
        font-size: 2.7rem;
    }
    .text-box h3 {
        font-size: 1rem;
    }
    section h1 {
        font-size: 2rem;
        margin: 0;
    }
    section h2 {
        font-size: 1.5rem;
    }
    section p {
        font-size: 1rem;
    }
    .book {
        font-size: 0.8rem;
    }
    .button {
        font-size: 0.8rem;
    }
    .services {
        height: 140vh;
    }
    .service-cont {
        flex-direction: column;
    }
    .service-cont img {
        max-width: 75%;
    }
    .space {
        height: 70vh;
    }
    footer {
        height:60vh;
    }
    .footer-nav {
        height: 50vh;
        flex-direction: column;
        align-items: center;
    }
    .footer-nav-cont{
        width: 100%;
    }
    .address {
        text-align: center;
        margin-bottom: 1rem;
    }
    footer p{
        max-width: 100%;
    }
    footer a {
        font-size: 0.85rem;
    }

    .about {
        height: 120vh;
    }
}
