/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Pontano Sans', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

/* Header styles */
header {
	min-height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top ;
	overflow-x: hidden;
    background-image: url(../images/ocean3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* nav styling */
.nav {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
    background-color:#05232ba1;
	z-index: 1;
}

.nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

.nav-links a {
	color:#fff;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
}

.nav-links a:hover {
	color: #fff3cc
}

#title {
    font-family: 'Merriweather', serif; 
    font-size: 2rem;
    color:#fff;
	text-decoration: none;

}

.burger {
    display: none;
    cursor: pointer;
}

.burger > div {
    width: 25px;
    height: 2px;
    background-color: #FAF9F6;
    margin: 5px;
    transition: all 0.3s ease;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

h1 {
    font-family: 'Merriweather', serif; 
    font-size: 4rem;
    margin-bottom: 2rem;
}
h2 {
    font-family: 'Merriweather', serif; 
    font-size: 2.5rem;
}

h3 { 
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.2px;
 }

 p {
    font-size: 1.5rem;
    max-width: 80%;
 }
.text-box {
    max-width: 50%;
}

.portrait {
    border-radius: 15rem;
}
section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section a {
    text-decoration: none;
    text-transform: uppercase;
}
.button {
    background:#05232bd1;
    color:#fff;
    padding: 1.5rem 3rem;
}
.book {
    background: #fff;
    color:#444;
    padding: 1.5rem 3rem;
}
.approach {
    color: #444;
}
.services {
    background: radial-gradient(#05232bd1, #05232b);
}
.space {
    color:#444;
}
.quote {
    background: radial-gradient(#05232bd1, #05232b);
}

footer {   
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25vh;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color:#444;
}

footer a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
}
.f-li {
    list-style: none;
    margin-bottom: 1rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer h3 {
    margin-bottom: 1rem;
}


@media screen and (max-width: 1060px) {

	body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 53vh;
        top: 10vh;
        background: radial-gradient(#05232bd1, #05232b);
        display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: space-evenly;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		z-index: 2;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
		z-index: 3;
    }

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}
}