/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Pontano Sans', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

/* Header styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 95vh;
	width: 100%;
	overflow: hidden;
    background-image: url(../images/julia5_200.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#about-header {
    background-image: url(../images/ocean4-small.jpg);
}

#contact-header {
    background-image: url(../images/stones-small.jpg);
}

/* nav styling */
.nav {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 1;
    background: radial-gradient(#698474, #4e6456);
    padding-left: 1rem;
}

.nav-links {
	display: flex;
    justify-content: flex-end;
    width: 50%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	margin: 0 15px;
	padding: 0.8rem;
	border-radius: 5px;
}

#nav-button {
    background-color: #889E81;
    color:#fff;
    padding: 1rem 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
#nav-button:hover {
    background-color: blanchedalmond;
    color:#444;


}
.nav-links a {
	color:#fff;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
	color: blanchedalmond;
}



#title {
    font-family: 'Merriweather', serif; 
    font-size: 2rem;
    color:#fff;
	text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger > div {
    width: 25px;
    height: 2px;
    background-color: #FAF9F6;
    margin: 5px;
    transition: all 0.3s ease;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    padding: 1rem;
}

h1 {
    font-family: 'Merriweather', serif; 
    font-size: 4rem;
    margin: 2rem;
}
h2 {
    font-family: 'Merriweather', serif; 
    font-size: 2.5rem;
}

h3 { 
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.6px;
 }

p {
    font-size: 1.2rem;
    max-width: 80%;
 }
.text-box {
    max-width: 65%;
}


/* MAIN styles */


section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

section a {
    text-decoration: none;
    text-transform: uppercase;
}
.button {
    background: #698474;
    color:#fff;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.button:hover {
    background-color: blanchedalmond;
    color:#444;
    transform: scale(1.05);
}
.book {
    background: #fff;
    color:#444;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.book:hover {
    background-color:  blanchedalmond;
    color:#444;
    transform: scale(1.05);
}
.approach {
    color: #444;
}
.services {
    background-color: #698474;
}
.service-cont {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}
.service-card {
    background-color: white;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.text-card {
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    text-align: center;
    background-color: rgb(255, 235, 205);
    flex-direction: column;
    align-items: center;
}

.service-cont h3 {
    font-family: 'Merriweather, serif';
    margin: 1rem 0;
    max-width: 75%;
    text-align: center;
}
.service-cont img {
    margin-top: 2rem;
    max-width: 80%;
}
.service-cont p {
    padding: 0 1rem 1rem 1rem;
    font-size: 1.1rem;
}
.service-cont h4 {
    padding-bottom: 1rem;
}

.space {
    color:#444;
}
.quote {
    max-height: 90vh;
    justify-content: flex-end;
    background-image: url(../images/feathertop.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.quote h2 {
    padding:2rem;
}
.quote a {
    margin-bottom: 3vh;
}



/* ABOUT Specific styles */



.main {
    height: fit-content;
    color:#444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.therapy {
    display: flex;
    justify-content: space-evenly;
}
.main p {
    font-size: 1rem;
    max-width: 29%;
}
.main h2{
    margin: 5vh 0;
}
.about {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    align-items: baseline;
    padding: 0 1vh 5vh 5vh;
}
.h2-cont {
    min-width: 29%;
}
.faq {
    background:linear-gradient(#889E81, #E5E4CC);
    height: 170vh;
}
.faq-cont{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}
.card-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
.q-card{
    width: 40%;
    height: fit-content;
    background-color: #fff;
    color:#444;
    padding: 3rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.q-card h2{
    font-size: 1.8rem;
    margin: 1vh 0 5vh 0;
}
.q-card p{
   max-width: 100%;
}
.quote h2{
    color: #fff;
}
#about-approach {
    background-color: #698474;
    color:#fff;
}



/* CONTACT STYLES */




.contact-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem;
    background-image: url(../images/linnen.jpg);
    background-size: contain;
    background-repeat: repeat;
    align-items: center;
    height: fit-content;
    color:#444;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    border-radius: 5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-container h2{
    margin-top: 0;
    margin-bottom: 3vh;
}
.contact-wrapper {
    display: flex;
    flex-direction: row;
}
.contact-text {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem 0 1rem 5rem;
    width: 60%;
}
.contact-text h3 {
    font-family: 'Merriweather', serif; 
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
}
.contact-text a{
    margin-top: 0.5rem;
    text-decoration: none;
    color:#444;
}
.contact-text p {
    width: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#contact-book {
    width:fit-content;
    background-color: #698474;
    color:#fff;
    text-decoration: none;
}
#contact-book:hover {
    background-color: blanchedalmond;
    color:#444;
}

.portrait-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 2rem 0 1rem;
    width: 40%;
}
.portrait-container img {
    border-radius: 5vh;
    width: 100%;
}
.booking-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
@media screen and (max-width: 1122px) {
    .contact-container {
        width: 80%;
    }
}
@media screen and (max-width: 940px) {
    .contact-container {
        width: 100%;
    }
}

/* FOOTER styles */


footer {   
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13vh;
    background-color: #fff;
}
.contact-footer{
    height: 13vh;
    background: radial-gradient(#698474, #4e6456);
}
.contact-footer nav {
    color:#fff;
}
.contact-footer a {
    color:#fff;
}
.contact-footer a:hover {
    color:blanchedalmond;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color:#444;
}
.address {
    min-width:55%;
}

.footer-nav-cont {
    width: 30%;
}

footer a {
    text-decoration: none;
    color: #444;
}

.f-li {
    list-style: none;
}
.f-title {
    font-family: 'Merriweather', 'serif';
    font-size: 1.3rem;
    font-weight: 400;

}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* RESPONSIVE */

@media screen and (max-width:1799px) and (orientation: landscape){
    section {
        width:100%;
    }
    .about {
        width: 100%;
    }
}


@media screen and (min-width:1800px) and (orientation: landscape) {
    header {
        height: 100vh;
    }
    main {
        background-image: url(../images/linnen.jpg);
        background-size: contain;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section {
        width: 60%;
    }
    .approach {
        background-color: #fff;
    }
    .space {
        background-color: #fff;
    }
    .about {
        width: 60%;
        background-color: #fff;
    }
    .contact-container {
        width: 60%;
    }
}

@media screen and (max-width: 1060px) {

	body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: space-evenly;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
		z-index: 2;

    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links a {
        color: #444;
    }
    .burger {
        display: block;
		z-index: 3;
    }

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

.address {
    margin-left: 1rem;
}
}

@media screen and (min-width: 950px) {
    #header {
        background-color: #BAC7A7;
        background-size: contain;
    }
    .text-box{
        max-width: 40%;
    }
    .approach p {
        max-width:60%;
    }
    .service-cont {
        max-width: 70%;
    }
    .services p{
        max-width: 60%;
    }
    .service-card p{
        max-width: 80%;
    }
    .quote a {
        margin-bottom: 10vh;
    }
}



@media only screen and (orientation: landscape) and (min-height: 601px) {

    section {
        height: 100vh;
    }
    .text-box {
        max-width: 75%;
    }
  }

 @media only screen and  (orientation: landscape) and (max-height: 600px) {

    #header {
        background-size: contain;
        background-color: #BAC7A7;
    }
    section {
        height: 130vh;
    }
    .text-box {
        max-width: 75%;
    }
    .service-cont {
        align-items: center;
    }
    .service-card {
        max-width: 70%;
    }
  } 


  /* PORTRAIT  */


@media screen and (max-width: 930px) {
    .about {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    
    /* GENERAL & INDEX */


    header {
        height: 100vh;
    }
    section {
        height: 100vh;
    }
    #title {
        font-size: 1.3rem;
    }
    .nav {
        height: 15vh;
        padding: 0 1rem;
    }
    .nav-links {
        top:15vh;
        width:100%;
        height: 85vh;
    }
    .intro {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .text-box {
        max-width: 90%;
    }
    .text-box h1 {
        font-size: 2.7rem;
    }
    .text-box h3 {
        font-size: 1rem;
    }
    section h1 {
        font-size: 2rem;
        margin: 0;
    }
    section h2 {
        font-size: 1.5rem;
    }
    section p {
        font-size: 1rem;
    }
    .book {
        font-size: 0.8rem;
    }
    .button {
        font-size: 0.8rem;
    }
    .services {
        height: fit-content;
    }
    .services h1 {
        margin: 1rem 0;
    }
    .service-cont {
        flex-direction: column;
        align-items: center;
    }
    .service-cont img {
        max-width: 75%;
    }
    .service-card {
        max-width: 80%;
        margin: 2rem 0;
    }
    .space {
        height: 70vh;
    }


    /* ABOUT SPECIFIC */
    
    
    .about {
        height: fit-content;
    }
    .therapy {
        flex-direction: column;
    }
    .therapy p{
        max-width: 90%;
    }
    .faq{
        height: fit-content;
    }
    .card-cont{
        flex-direction: column;
        align-items: center;
    }
    .q-card{
        width: 80%;
        margin:3vh 0;
    }
    #team-main{
        flex-direction: column;
        align-items: center;
    }
    .portrait {
        margin-bottom: 10vh;
    }
    .team-qualifications {
        max-width: 100%;
    }

    /* CONTACT SPECIFIC */

    .contact-main {
        padding: 3rem 2rem;
    }

    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .contact-text {
        padding: 5rem 1rem;
        width:90%;
        min-height: 40vh;
        align-items: center;
        text-align: center;
    }
    .contact-container h2 {
        padding-top: 5rem;
    }
    .portrait-container {
        width: 55%;
        padding: 0;
    }
    .booking-wrapper {
        height: 15vh;
    }
    .contact-footer{
        height: 25vh;
    }


    /* FOOTER */


    footer {
        height:25vh;
    }
    .footer-nav {
        height: 25vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer-nav-cont{
        width: 100%;
    }
    .address {
        text-align: center;
    }
    footer p{
        max-width: 100%;
    }
    footer a {
        font-size: 0.85rem;
    }
}


@media only screen and (max-width: 500px) {
        
    .service-card {
        max-width: 95%;
    }

    .contact-main {
        padding: 3rem 1rem;
    }
    .contact-text {
        padding: 3rem 1rem;
    }
    .portrait-container {
        width: 65%;
    }
}    

@media only screen and (orientation: landscape) and (max-height: 500px) {

    footer {
        height: 35vh;
    }
    .contact-footer {
        height: 35vh;
    }
}


@keyframes enter-animation {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .scroll-animation {
      animation: enter-animation 1.2s 1;
    }
  }


  @keyframes text-animationL {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .text-animation-left {
      animation: text-animationL 1.2s 1;
    }
  }

  
  @keyframes text-animationR {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .text-animation-right {
      animation: text-animationR 1.2s 1;
    }
  }
/* form */

/* 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
/*   
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  } */
/* 
 
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  } */
/*   
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 470px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  } */
